/* Based on https://github.com/dempfi/ayu */

/* .cm-s-ayu-dark.CodeMirror { background: #1E1E1E; color: #b3b1ad; }
.cm-s-ayu-dark div.CodeMirror-selected { background: #273747; }
.cm-s-ayu-dark .CodeMirror-line::selection, .cm-s-ayu-dark .CodeMirror-line > span::selection, .cm-s-ayu-dark .CodeMirror-line > span > span::selection { background: rgba(39, 55, 71, 99); }
.cm-s-ayu-dark .CodeMirror-line::-moz-selection, .cm-s-ayu-dark .CodeMirror-line > span::-moz-selection, .cm-s-ayu-dark .CodeMirror-line > span > span::-moz-selection { background: rgba(39, 55, 71, 99); }
.cm-s-ayu-dark .CodeMirror-gutters { background: #1E1E1E; border-right: 0px; }
.cm-s-ayu-dark .CodeMirror-guttermarker { color: white; }
.cm-s-ayu-dark .CodeMirror-guttermarker-subtle { color: #3d424d; }
.cm-s-ayu-dark .CodeMirror-linenumber { color: #3d424d; }
.cm-s-ayu-dark .CodeMirror-cursor { border-left: 1px solid #F08047; }
.cm-s-ayu-dark.cm-fat-cursor .CodeMirror-cursor { background-color: #a2a8a175 !important; }
.cm-s-ayu-dark .cm-animate-fat-cursor { background-color: #a2a8a175 !important; }

.cm-s-ayu-dark span.cm-comment { color: #626a73; }
.cm-s-ayu-dark span.cm-atom { color: #F08047; }
.cm-s-ayu-dark span.cm-number { color: #b5e1f0; }

.cm-s-ayu-dark span.cm-comment.cm-attribute { color: #ffb454; }
.cm-s-ayu-dark span.cm-comment.cm-def { color: rgba(57, 186, 230, 80); }
.cm-s-ayu-dark span.cm-comment.cm-tag { color: #39bae6; }
.cm-s-ayu-dark span.cm-comment.cm-type { color: #5998a6; }

.cm-s-ayu-dark span.cm-property, .cm-s-ayu-dark span.cm-attribute { color: #ffb454; }  
.cm-s-ayu-dark span.cm-keyword { color: #e7bd6a; } 
.cm-s-ayu-dark span.cm-builtin { color: #F08047; }
.cm-s-ayu-dark span.cm-string { color: #b97d61; }

.cm-s-ayu-dark span.cm-variable { color: #f07178; }
.cm-s-ayu-dark span.cm-variable-2 { color: #f07178; }
.cm-s-ayu-dark span.cm-variable-3 { color: #39bae6; }
.cm-s-ayu-dark span.cm-type { color: #e7bd6a; }
.cm-s-ayu-dark span.cm-def { color: #e7bd6a; }
.cm-s-ayu-dark span.cm-bracket { color: #39bae6; }
.cm-s-ayu-dark span.cm-tag { color: rgba(57, 186, 230, 80); }
.cm-s-ayu-dark span.cm-header { color: #F08047; }
.cm-s-ayu-dark span.cm-link { color: #39bae6; }
.cm-s-ayu-dark span.cm-error { color: #ff3333; } 
.cm-s-ayu-dark span.cm-text { color: #b5e1f0; } 

.cm-s-ayu-dark .CodeMirror-activeline-background { background: #383B3D; }
.cm-s-ayu-dark .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
} */

.cm-s-ayu-dark.CodeMirror { background: #1E1E1E;}
.cm-s-ayu-dark .CodeMirror-gutters { background: rgba(222,222,222,0.1); border-right: 0px; }

.cm-s-ayu-dark div.CodeMirror-selected { background: #273747; }
.cm-s-ayu-dark .CodeMirror-line::selection, .cm-s-ayu-dark .CodeMirror-line > span::selection, .cm-s-ayu-dark .CodeMirror-line > span > span::selection { background: rgba(39, 55, 71, 99); }
.cm-s-ayu-dark .CodeMirror-line::-moz-selection, .cm-s-ayu-dark .CodeMirror-line > span::-moz-selection, .cm-s-ayu-dark .CodeMirror-line > span > span::-moz-selection { background: rgba(39, 55, 71, 99); }

.cm-s-ayu-dark{
	color: #e0b907;
}

.cm-s-ayu-dark span.cm-number, .cm-s-ayu-dark span.cm-string, .cm-s-ayu-dark span.cm-atom {color: #6A8759;}
.cm-s-ayu-dark span.cm-comment {color: #61A151; font-style: italic; line-height: 1em;}
.cm-s-ayu-dark span.cm-meta {color: #555; font-style: italic; line-height: 1em;}
.cm-s-ayu-dark span.cm-variable {color: #b3b1ad;}
.cm-s-ayu-dark span.cm-variable-2 {color: #b3b1ad;}
.cm-s-ayu-dark span.cm-qualifier {color: #555;}
.cm-s-ayu-dark span.cm-keyword {color: #599AFC; font-weight: bold;}
.cm-s-ayu-dark span.cm-builtin {color: #e6b450; font-weight: bold;}
.cm-s-ayu-dark span.cm-link {color: #762;}
.cm-s-ayu-dark span.cm-error {background-color: #fdd;}
.cm-s-ayu-dark span.cm-text { color: #b3b1ad; }
.cm-s-ayu-dark span.cm-bracket { color: #e0b907; }




.cm-s-ayu-dark .CodeMirror-activeline-background {background: rgba(222,222,222,0.1) !important;}
.cm-s-ayu-dark .CodeMirror-matchingbracket {
	box-sizing: border-box; 
	background: transparent; 
	border-bottom: 1px solid; 
	color: #e0b907 !important;
}


