.top-bar{
    background: #1E1E1E; 
}

.codemirror-ui-button-frame{
    background: #1E1E1E !important;
    border-top: 1px solid #1E1E1E;
    border-left: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
}

.ui-layout-pane{
    background: #383B3D !important;
    border: 0px;
    color: #AEAEAE;
}

#output{
    background: rgba(222,222,222,0.1) !important;
    color: #AEAEAE;
}

#idpd3{
    background-color: rgba(222,222,222,0.1) !important;
}

#filename.form-control{
    background: rgba(222,222,222,0.1) !important;
    color: #AEAEAE;
    border: 0px !important;
    border-radius: 0px 4px 4px 0px !important;
}

.glyph-status{
    background: rgba(222,222,222,0.1) !important;
    color: #bd8e31;
}


.CodeMirror{
    border-top: 0px !important;
    border-bottom: 1px solid #1E1E1E;
    border-left: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
}

.modal-content{
    background: #383B3D !important;
}

.modal-header{
    color: #AEAEAE;
    border-bottom: 2px solid #1E1E1E;
}

.modal-body{
    color: #AEAEAE;
}

.modal-footer{
    color: #AEAEAE;
    border-top: 2px solid #1E1E1E;
}

UL.jqueryFileTree A{
    color: #AEAEAE !important;
}

UL.jqueryFileTree A:hover{
    color: #e6b450 !important;
    background: transparent !important;
}

.ui-layout-resizer{
    background: #5b6063;
}

.ui-layout-resizer-dragging {	/* CLONED resizer being dragged */
    border: 	 1px solid #383B3D;
}

.modal .close{
    color: #AEAEAE !important;
}

.cm-lImplies:after, .cm-lForAll:after, .cm-lAnd:after, .cm-lOr:after, .cm-lDef:after, .cm-lLImplies:after, .cm-lEquiv:after, .cm-lExists:after, .cm-lLEQ:after, .cm-lGEQ:after, .cm-lEQ:after, .cm-lNEQ:after, .cm-lLT:after, .cm-lGT:after, .cm-lNot:after, .cm-lMapsTo:after{
    color: #b3b1ad !important;
}


.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #AEAEAE;
}

.ui-slider-handle{
    color: #AEAEAE !important;
}

input.form-control {
    border: 1px solid #1E1E1E;
    background-color: #5b6063;
    color: #AEAEAE;
}

.codemirror-ui-find-bar>input{
    border: 1px solid #1E1E1E;
    background-color: #5b6063;
    color: #AEAEAE;
}

code {
    color: #e6b450;
    background-color: rgba(222,222,222,0.1);
}

.file-browser {
    background-color: rgba(222,222,222,0.1)!important;
}

div.console div.jquery-console-message-success{ 
    color:#9cff99; 
}
div.console div.jquery-console-message-error{ 
    color:#ff9999; 
}
div.console div.jquery-console-message-warning{ 
    color:#e6b450; 
}
div.console div.jquery-console-message-info{ 
    color:#367dc4; 
}

UL.jqueryFileTree LI.selected>a {
    color:#e6b450 !important; 
}

.ui-widget-content {
    background: rgba(222,222,222,0.1)!important;
    border: 0px !important;
}

.popover-content {
    background: #383B3D !important;
    color: #AEAEAE;
}

.popover-title {
    background: #383B3D !important;
    color: #AEAEAE;
    border-bottom: 1px solid #1E1E1E;
}

.pop-separator {
    border-top: 1px solid #1E1E1E;
}

.popover {
    background: transparent !important;
}