body { 
	padding-top: 0px !important;
	min-height:100%;
	font-size: 14px;
}

.top-bar{
    padding: 1px;
}


#output {
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-radius: 4px;
}

.right-button {
	float:right;
}

.sliderd {
	width: 100px;
}

.CodeMirror {
	height: inherit;
}

#left-component {
	right: 50%;
	margin-right: 5px;
}
#my-divider {
	right: 50%;
	width: 5px;
}
#right-component {
	width: 50%;
}

#copylink {
	float: right;
}

@font-face {
  font-family: 'STIXGeneral';
  src: url('../fonts/STIXMathJax_Main-Regular.woff');
}

.top-nav-bar-div {
	margin-top: 4px;
	margin-bottom: 4px;
	width: 100%;
}

.logicsymbol {
	/* font-size: 18px; */
	font-family: STIXGeneral;
  	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  	-o-user-select: none;
  	user-select: none;
}

#textEditor {
	height: 100% !important;
	padding: 0px;
	border: 0px;
}

#manual{
	height: 100% !important;
}

.terminal {
	overflow-y: scroll;
}
#rightpart{
	background-color: transparent;
	overflow: auto;
	overflow-y: auto;
	height: 100% !important;
	width: 100%;
	padding: 0px;
}

.file-browser {
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	overflow-y: auto;
	min-width: 300px;
	padding: 5px;
	border-radius: 4px;
}

div.console {
	font-family: FreeMono, monospace;
  	word-wrap: break-word;
	white-space: pre-line;
}

#idpd3{
	padding: 10px;
	width: -webkit-fill-available;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-radius: 4px;
}

div.console div.jquery-console-prompt-box{ 
	color:#2c3e50;
}
div.console div.jquery-console-focus span.jquery-console-cursor{ 
	background:#2c3e50; 
	color:#333; 
	font-weight:bold;
}

div.console div.jquery-console-message-type{ 
	color:#52666f;
	padding:0.1em; 
}
div.console div.jquery-console-message-structure{ 
    border: 2px solid #e6b450;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    overflow-x: auto;
    white-space: pre;
}


.jquery-console-inner{
	padding: 10px;
	overflow-y: auto;
	max-height: 100%;
}


a.codemirror-ui-button{
	cursor: pointer;
}

.folder-delete-button{
	/* margin-left: auto; */
    float:right;
	background: none!important;
	border: none;
	padding: 0!important;
	/*input has OS specific font-family*/
	color: #069;
	text-decoration: underline;
	cursor: pointer;
	display: flex;
}


/* TODO move to separa stile file */
.button-info {
	background-color: #e1ecf4;
	border-radius: 3px;
	border: 1px solid #7aa7c7;
	box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #39739d;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
	/* font-size: 13px; */
	font-weight: 400;
	line-height: 1.15385;
	margin: 0;
	outline: none;
	padding: 8px .8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}
  
.button-info:hover,
.button-info:focus {
	background-color: #b3d3ea;
	color: #2c5777;
}
  
.button-info:focus {
	box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}
  
.button-info:active {
	background-color: #a0c7e4;
	box-shadow: none;
	color: #2c5777;
}

/* Button danger */
.button-danger {
	background-color: #f4e1e1;
	border-radius: 3px;
	border: 1px solid #c77a7a;
	box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #9d3939;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
	/* font-size: 13px; */
	font-weight: 400;
	line-height: 1.15385;
	margin: 0;
	outline: none;
	padding: 8px .8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}
  
.button-danger:hover,
.button-danger:focus {
	background-color: #eab3b3;
	color: #772c2c;
}
  
.button-danger:focus {
	box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}
  
.button-danger:active {
	background-color: #e4a0a0;
	box-shadow: none;
	color: #772c2c;
}


/* Button success */
.button-success {
	background-color: #e3f4e1;
	border-radius: 3px;
	border: 1px solid #83c77a;
	box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #3c9d39;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
	/* font-size: 13px; */
	font-weight: 400;
	line-height: 1.15385;
	margin: 0;
	outline: none;
	padding: 8px .8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}
  
.button-success:hover,
.button-success:focus {
	background-color: #b9eab3;
	color: #35772c;
}
  
.button-success:focus {
	box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}
  
.button-success:active {
	background-color: #a2e4a0;
	box-shadow: none;
	color: #32772c;
}

.workspacePath{
	margin: 4px;
}

code.path-code{
	/* font-size: 14px; */
	display: block;
	width: 100%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-bar-text{
	display: block;
	/* font-size: 100%; */
	white-space: nowrap;
	width: auto; 
	box-sizing: border-box;
    overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 4px;
    /* min-height: 1.7em; */
} 

i.glyph-status{
	top: 0px;
	border-radius: 4px 4px 4px 4px;
    /* font-size: 14px; */
    margin-right: 4px;
	margin-left: 4px;
	box-sizing: border-box;
	/* padding: 0.21em; */
	/* font-size: 14px; */
	float:left;
}

#buttonList{
	padding: 1px !important;
	border: 0px !important;
}

.CodeMirror{
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border: 0px !important;
    border-radius: 4px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

#idp-icon{
	padding: 3px;
	float: left;
	margin: 1px;
}


h1 {
font-size: 2.5em;
}
  
h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.675em;
}

h4 {
	font-size: 1.475em;
}

h5 {
	font-size: 1.275em;
}

p {
	font-size: 0.875em;
}

 /* unvisited link */
 a:link {
	color: #e6b450;
  }
  
  /* visited link */
  a:visited {
	color: #e6b450;
  }
  
  /* mouse over link */
  a:hover {
	color: #e6b450;
  }
  
  /* selected link */
  a:active {
	color: #e6b450;
  } 


ul.columnized {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.pop-separator {
	margin-top: 4px;
	margin-bottom: 9px;
}

.pop-button {
	float: right;
}

.popover-content {
	overflow: auto !important;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#idpPath {
	height: auto !important;
	padding: 6px !important;
}