.top-bar{
    background: #ececec; 
}

.codemirror-ui-button-frame{
    background: #ececec !important;
}

.ui-layout-pane{
    border: 0px;
}

#output{
    background-color: #f8f9fa !important;
}

#idpd3{
    background-color: #f8f9fa !important;
}

#filename.form-control{
    background: #f8f9fa !important;
    color: #5a5a5a;
    border: 0px !important;
    border-radius: 0px 4px 4px 0px !important;
}

.glyph-status{
    background: #ececec !important;
    color: #bd8e31;
}

code {
    color: #bd8e31;
    background-color: #f8f9fa;
}

.file-browser {
    background-color: #f8f9fa !important;
}

div.console div.jquery-console-message-success{ 
    color:#66b163; 
}
div.console div.jquery-console-message-error{ 
    color:#ff9999; 
}
div.console div.jquery-console-message-warning{ 
    color:#e6b450; 
}
div.console div.jquery-console-message-info{ 
    color:#367dc4; 
}

UL.jqueryFileTree A{
    color: #5a5a5a !important;
}

UL.jqueryFileTree A:hover{
    color: #bd8e31 !important;
    background: transparent !important;
}

UL.jqueryFileTree LI.selected>a {
    color:#bd8e31 !important; 
}